---
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		
		<title>La velada</title>
	</head>
	<body class="relative">
		
		<header class="relative">
			<div class="md:absolute md:left-1/2 md:-translate-x-1/2 flex flex-col gap-1 justify-center items-center mt-4 md:mt-0 md:top-8 z-10">
				<img class="w-32 lg:w-80 h-auto animate-rotate-y animate-once animate-duration-1000 animate-delay-0 animate-ease-in-out animate-normal " src="Logo.png" alt="Logo"/>
				<h1 class="font-boxing text-4xl  text-center text-white font-bold"><span class="bg-clip-text text-transparent bg-gradient-to-b from-indigo-200 via-slate-600 to-indigo-200 inline-block leading-relaxed">La velada del año </span><span class="text-sky-500"> III</span></h1>
			</div>
		</header>
		<main class="relative">
			<section
				id="boxers"
				class={`flex justify-between relative
				[&>div>img]:absolute [&>div>img]:bottom-0
				[&>div>img]: w-auto
			 	[&>div>img]:animate-once [&>div>img]:animate-duration-1000 [&>div>img]:animate-ease-in-out
				h-[40vh] md:h-[65vh] lg:h-screen pt-4 lg:pt-24 border-b border-white/10
				`}
				>
				<div 
					class="bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-[#131824] via-zinc-900 to-zinc-950 h-full w-full inset-0 absolute"
				>
				</div>

				<div class="relative w-full">
					<img class="left-0 h-full z-50 animate-fade-right" src="/Coscu.png" alt="Coscu">
					<img class="left-[5%]  h-[80%] z-40 animate-delay-300 animate-fade-right" src="/Mayichi.png" alt="Mayichi"><!--que este un 7% a la izquierda y qye la altura sea un 72% -->
					<img class="left-[15%]  h-[75%] z-30 animate-delay-700 animate-fade-right" src="/Viruzz.png" alt="Viruzz">
					<img class="left-[28%]  h-[70%] z-20 animate-delay-1000  animate-fade-right" src="/Fernanflo.png" alt="Fernanflo">
					<img class="left-[35%]  h-[68%] z-10 animate-delay-[1300ms] animate-fade-right" src="/Rivers.png" alt="Rivers">
					<img class="left-[40%]  h-[65%] z-0 animate-delay-[1600ms] animate-fade-right" src="/Papigavi.png" alt="Papigavi">
				</div>
				<div class="relative w-full">
					<img class="right-0 h-full z-50 animate-fade-left" src="/German.png" alt="German">
					<img class="right-[5%]  h-[80%] z-40 animate-delay-300 animate-fade-left" src="/Amouranth.png" alt="Amouranth">
					<img class="right-[15%]  h-[75%] z-30  animate-delay-700 animate-fade-left" src="/Shelao.png" alt="Shelao">
					<img class="right-[28%]  h-[70%] z-20 animate-delay-1000 animate-fade-left" src="/Luzu.png" alt="Luzu">
					<img class="right-[35%]  h-[68%] z-10  animate-delay-[1300ms] animate-fade-left" src="/Rivers2.png" alt="Rivers2">
					<img class="right-[40%]  h-[65%] z-0 animate-delay-[1600ms] animate-fade-left" src="/Ampeter.png" alt="Ampeter">
				</div>

				<div class="absolute inset-0 flex gap-x-2 left-1/2 -translate-x-1/2 justify-center opacity-90">
					<div class="w-2 blur-sm h-full bg-gradient-to-t from-indigo-100 via-slate-600 to-indigo-200 "></div>
					<div class="w-2 blur-sm h-full bg-gradient-to-t from-indigo-100 via-slate-600 to-indigo-200 "></div>
					<div class="w-2 blur-sm h-full bg-gradient-to-t from-indigo-100 via-slate-600 to-indigo-200 "></div>
				</div>

			

				<div id="combat" class="absolute bottom-5 z-50 mx-auto left-1/2 -translate-x-1/2 flex flex-col gap-y-24 opacity-0 ">
					<div class="px-5 pt-4 pb-2 bg-black text-white text-center">
						<h3 class="font-boxing-striped text-6xl">Mayichi</h3>
					</div>

					<span class="left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 font-boxing text-yellow-500 text-6xl block absolute [text-shadow: 2px_2px_0px_red]">
						VS.
					</span>

					<div class="px-5 pt-4 pb-2 bg-white text-black text-center">
						<h3 class="font-boxing-striped text-6xl">Amouranth</h3>
					</div>
				</div>

				<div id="info" class="block lg:absolute lg:bottom-16 z-50 mx-auto lg:left-1/2 lg:-translate-x-1/2">
					<div class="flex flex-col">   
						<div class="px-5 pt-4 pb-2 bg-white text-black text-center animate-fade-down animate-once animate-duration-1000 animate-delay-0 animate-ease-in-out animate-alternate">
							<h2 class="font-boxing text-5xl  ">1 de JULIO</h2>
						</div>
						<div class="px-5 pt-4 pb-2 bg-black rounded-md text-white text-center animate-fade-up animate-once animate-duration-1000 animate-delay-0 animate-ease-in-out animate-alternate">
							<a class="font-boxing text-3xl hover:contrast-150 hover:scale-105 transition inline-block" href="#">Comprar entradas</a>
						</div>
					</div>
				</div>
			</section>

			<section  class="grid grid-cols-2 max-w-6xl gap-4 m-auto px-6 pt-20 pb-10 w-full">
				<a
				class="col-span-2 lg:col-span-1 w-full rounded hover:scale-[102%] hover:contrast-[110%] block transition"
				href="https://www.revolut.com/es-ES/promo/velada-de-ibai/"
				target="_blank"
				rel="noopener nofollow"
			  >
				<img
				  class="aspect-[26/9] object-cover w-full rounded border border-white/10"
				  alt="Consigue 20€ por abrir tu cuenta en Revolut"
				  src="INH.png"
				/>
			  </a>
			  <a
				class="col-span-2 lg:col-span-1 w-full rounded hover:scale-[102%] hover:contrast-[110%] block transition"
				href="https://cloud.e.alsa.com/veladaIII?utm_source=c%C3%B3mo_llegar&utm_medium=web&utm_campaign=2023_07_lavelada&utm_content=abr-jul"
				target="_blank"
				rel="noopener nofollow"
				>
			 	<img
					class="aspect-[26/9] object-cover object-left w-full rounded border border-white/10"
					alt="Descuento del 40% en tu viaje con Alsa"
					src="alsa.png"
			  	/>
			</a>
		  </section>

		  <section class="max-w-6xl gap-4 m-auto px-6 pt-10 pb-20 w-full">
			<h2
			  class="font-boxing text-white pb-4 uppercase text-center text-4xl font-extralight"
			>
			  Cómo llegar al evento
			</h2>
			<a
			  href="https://www.google.com/maps/place/Estadio+C%C3%ADvitas+Metropolitano/@40.4351624,-3.604488,16.61z/data=!4m6!3m5!1s0xd422fea8401b789:0x245d0d64dad50ec4!8m2!3d40.4361939!4d-3.5994674!16s%2Fm%2F05515km"
			  target="_blank"
			  class="hover:scale-[102%] hover:contrast-[110%] block transition w-full"
			>
			  <img
				alt="Mapa de la localización de la velada del año"
				class="rounded shadow-lg shadow-gray-100 w-full h-auto border border-black/10 "
				src="/map.png"
				loading="lazy"
			  />
			</a>
		  </section>
	  
		
			
		</main>
		<footer class="w-full h-auto m-auto relative">
			<div class="footer__bg absolute inset-0 bg-[url('/fondo2.jpg')] bg-no-repeat bg-bottom bg-scroll bg-cover -z-10">
			</div>
			<div class="mx-auto max-w-6xl w-full overflow-hidden px-6 pt-10 pb-10 sm:py-24 lg:px-8">
			  <div class="mt-10 flex flex-col md:flex-row gap-y-8 justify-between items-center">
				<nav class="flex gap-x-4 flex-grow basis-0 justify-start">
				  <a href="https://www.instagram.com/infolavelada/" target="_blank" rel="noopener noreferrer"
				  >
					<svg
					  class="w-8 h-8 text-white hover:text-yellow-300 transition"
					  xmlns="http://www.w3.org/2000/svg"
					  width="800"
					  height="800"
					  viewBox="0 0 20 20"
					  ><path
						fill="currentColor"
						fill-rule="evenodd"
						d="M5.869652.12273C4.241769.19618 2.830805.5942 1.691486 1.72871.548187 2.86918.155147 4.28558.081514 5.89653c-.045772 1.00548-.313437 8.60165.462693 10.59375.52339 1.34394 1.55425 2.37721 2.910487 2.90228.632844.24616 1.355242.41291 2.414958.46155 8.860815.401 12.145437.18263 13.53053-3.36383.245774-.63128.414931-1.35288.461698-2.40997.40498-8.88354-.065673-10.80914-1.609972-12.3516C17.027016.50685 15.5862-.32492 5.869652.12273m.081593 17.94475c-.970162-.04368-1.496538-.20547-1.847786-.34145-.883594-.34343-1.547285-1.00448-1.888583-1.88291-.591053-1.51368-.39503-8.70289-.342293-9.86619.051742-1.13948.282591-2.18069 1.086582-2.98467.995038-.99258 2.280627-1.47894 11.033979-1.08389 1.142304.05161 2.186099.28189 2.99208 1.08389.995038.99257 1.488577 2.28788 1.086582 11.00765-.043782.96776-.205973 1.49283-.342293 1.84321-.90051 2.30773-2.97218 2.62833-11.778268 2.22436m8.138418-13.37792c0 .65709.534335 1.19109 1.194046 1.19109.65971 0 1.195041-.534 1.195041-1.19109 0-.65708-.535331-1.19109-1.195041-1.19109-.659711 0-1.194046.53401-1.194046 1.19109m-9.22699 5.29836c0 2.81494 2.287593 5.09687 5.109521 5.09687 2.821929 0 5.109522-2.28193 5.109522-5.09687s-2.287593-5.09587-5.109522-5.09587c-2.821928 0-5.109521 2.28093-5.109521 5.09587m1.793059 0c0-1.82633 1.484597-3.30825 3.316462-3.30825 1.831866 0 3.316463 1.48192 3.316463 3.30825 0 1.82733-1.484597 3.30924-3.316463 3.30924-1.831865 0-3.316462-1.48191-3.316462-3.30924"
					  ></path></svg
					>
				  </a>
				  <a
					href="https://twitter.com/infoLaVelada"
					target="_blank"
					rel="noopener noreferrer"
				  >
					<svg
					  class="w-8 h-8 text-white hover:text-yellow-300 transition"
					  xmlns="http://www.w3.org/2000/svg"
					  width="800"
					  height="800"
					  viewBox="0 -2 20 20"
					  ><path
						fill="currentColor"
						fill-rule="evenodd"
						d="M6.29 16c7.547 0 11.675-6.15635 11.675-11.49454 0-.17525 0-.34951-.012-.52279.803-.57104 1.496-1.27991 2.047-2.09117-.748.32687-1.543.5415-2.356.63601.856-.50507 1.497-1.29861 1.804-2.23491-.806.47061-1.687.8024-2.606.98061-1.554-1.62647-4.153-1.70523-5.806-.17525-1.065.98651-1.518 2.45742-1.187 3.86039C6.55 4.79492 3.476 3.261 1.392.73762.303 2.58363.86 4.94457 2.663 6.12996 2.01 6.11125 1.371 5.93797.8 5.62489v.05119C.801 7.5989 2.178 9.2549 4.092 9.63591c-.604.16245-1.238.18608-1.852.06892.537 1.64616 2.078 2.77346 3.833 2.80595-1.453 1.12435-3.248 1.73476-5.096 1.7328-.326-.00099-.652-.0197-.977-.05809C1.877 15.37088 4.06 16 6.29 15.99705"
					  ></path>
					</svg
					>
				  </a>
				</nav>
	  
				<img src="/logofooter.png" alt="La Velada del Año" class="w-80 h-auto"/>
	  
				<div class="flex justify-end flex-grow basis-0">
				  <img src="/patrocinios.png" alt="Patrocinadores de la Velada del Año" class="w-64 h-auto"/>
				</div>
			  </div>
			  <p class="mt-10 text-center text-xs leading-5 text-white">
				&copy; 2023 La Velada del Año | Todos los derechos reservados
			  </p>
			</div>
		  </footer>
	</body>
</html>


<style is:global>
	body{
		background: rgb(13, 15, 15);
	}

	@font-face{
		font-family: 'Boxing';
		src: url('/fonts/boxing.ttf');
		font-weight: bold;
	}

	@font-face{
		font-family: 'Boxing Striped';
		src: url('/fonts/boxing-striped.ttf');
		font-weight: bold;
	}
</style>
<!-- h-[40vh] responsive ocupa algo menos de mitad de la pantalla -->
<script>
	const $boxers = document.querySelector('#boxers')
	const $boxersImages = $boxers.querySelectorAll('img')

	const $info = document.querySelector('#info')
	const $combat = document.querySelector('#combat')


	$boxersImages.forEach($img => {


		$img.addEventListener("mouseleave", ()=>{
			$boxersImages.forEach(($img) =>{
				$img.setAttribute ('style', "transition: all .3s ease-in-out")
			})

			$info.setAttribute('style', "opacity: 1; transition: all .3s ease-in-out")
			$combat.setAttribute('style', "opacity: 0; transition: all .3s ease-in-out; visibility; hidden")
		})

		$img.addEventListener('mouseenter', () => {
			//recuperamos las imagenes de donde estoy
			const sectionImages = $img.parentNode.children
			const position = Array.from(sectionImages).indexOf($img)
			//recuperamos imagenes del lado izquierdo y del lado derecho
			const [leftBoxer, rightBoxer] = [
				$boxersImages[position], //de la izquierda
				$boxersImages[position + $boxersImages.length /2] //el de la derecha
			]

			//ocultamos la informacion
			$info.setAttribute('style','opacity: 0; transition: all .3s ease-in-out')
			$combat.setAttribute('style', 'opacity:1; transition: all .3s ease-in-out')
			const [firstBoxerName, secondBoxerName] = $combat.querySelectorAll('h3')
			firstBoxerName.innerText = leftBoxer.alt
			secondBoxerName.innerText = rightBoxer.alt

			// console.log(leftBoxer,rightBoxer)
			//ocultar los boxeadores que no interesan
			$boxersImages.forEach(($img) =>{
				$img.setAttribute(
					"style",
					"filter: blur(2px) grayscale(.8); transition: all 1s ease-in-out"
				)
			})

			leftBoxer.setAttribute(
				'style',
				"scale: 1.1; contrast: 1.1; transition: all .3s ease-in-out"
			)
			rightBoxer.setAttribute(
				'style',
				"scale: 1.1; contrast: 1.1; transition: all .3s ease-in-out"
			)
		})  
	})
</script>