---
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		
		<title>La velada</title>
	</head>
	<body>
		<header>La Velada del Año</header>
		<main>
			<section
				id="boxeadores"
				class={`flex justify-between relative
				[&>div>img]:absolute [&>div>img]:bottom-0
				[&>div>img]: w-auto
			 	[&>div>img]:animate-once [&>div>img]:animate-duration-1000 [&>div>img]:animate-ease-in-out
				h-[40vh] lg:h-screen pt-24 border-b border-white/10
				`}>
				<div class="relative w-full">
					<img class="left-0 h-full z-50  animate-fade-right" src="/Coscu.png" alt="Coscu">
					<img class="left-[5%]  h-[80%] z-40  animate-fade-right" src="/Mayichi.png" alt="Mayichi"><!--que este un 7% a la izquierda y qye la altura sea un 72% -->
					<img class="left-[15%]  h-[75%] z-30  animate-fade-right" src="/Viruzz.png" alt="Viruzz">
					<img class="left-[28%]  h-[70%] z-20  animate-fade-right" src="/Fernanflo.png" alt="Fernanflo">
					<img class="left-[35%]  h-[68%] z-10  animate-fade-right" src="/Rivers.png" alt="Rivers">
					<img class="left-[40%]  h-[65%] z-0  animate-fade-right" src="/Papigavi.png" alt="Papigavi">
				</div>
				<div class="relative w-full">
					<img class="right-0 h-full z-50 animate-fade-left" src="/German.png" alt="German">
					<img class="right-[5%]  h-[80%] z-40 animate-fade-left" src="/Amouranth.png" alt="Amouranth">
					<img class="right-[15%]  h-[75%] z-30 animate-fade-left" src="/Shelao.png" alt="Shelao">
					<img class="right-[28%]  h-[70%] z-20 animate-fade-left" src="/Luzu.png" alt="Luzu">
					<img class="right-[35%]  h-[68%] z-10 animate-fade-left" src="/Rivers2.png" alt="Rivers2">
					<img class="right-[40%]  h-[65%] z-0  animate-fade-left" src="/Ampeter.png" alt="Ampeter">
				</div>
			</section>
		</main>
		<footer></footer>
	</body>
</html>


<style is:global>
	body{
		background: rgb(13, 15, 15);
	}
</style>
<!-- h-[40vh] responsive ocupa algo menos de mitad de la pantalla -->